    <h2 class="h2e" id "quisommeslink"> <br> Qui sommes-nous? </h2>
<p class="qui">   Icarus Astrotrust, Leader international des solutions d’authentification et de traçabilité par satellite pour lutter contre les contrefaçons, les marchés parallèles et le commerce illicite.<br>
Accompagnant les gouvernements et les sociétés privées, Icarus Solution est un acteur majeur dans la protection des marques, la sécurisation de la collecte des taxes et la protection des documents d’identité.
</p>
<br>
<br>

 <div class="confiance">
 <h4 id "partenaireslink"> Ils nous font confiance </h4>
 </div class="confiance">


  <div class="container_parteneraires">
  

  <div class="col_1">
  <%= image_tag "gs1.png", :class => "img_gs1"%>
  </div class="col_1">

  <div class="col_2">
  <%= image_tag "unifab.png", :class => "img_unifab"%>
  </div class="col_2">

  
  <div class="col_3">
  <%= image_tag "cnes.png", :class => "img_cnes"%>
  </div class="col_3">


  <div class="col_4">
  <%= image_tag "expertise_france.png", :class => "img_expertise_france"%>
  </div class="col_4">


  <div class="col_5">
  <%= image_tag "fondation_chirac.png", :class => "img_fondation_chirac"%>
  </div class="col_5">

  
  </div class="container_partenaires">